root = true

[*]
charset = utf-8
end_of_line = lf
insert_final_newline = true
indent_style = space
indent_size = 4
trim_trailing_whitespace = true

[*.md]
trim_trailing_whitespace = false

; If I Nerver Loved You (Disco Music)
; Báo Bình
; 6838
; Maybe I'd have chosen a different way
; 或许我会选择另一条路
